header{
	background-color:#dfa772;
	height:70px;
	width:100%;
	border-radius:10px;
	font-family:sans-serif;
	
}
a{
	font-size: 22px;
	color: white;
	text-decoration:none;
}
body{
	font-family:sans-serif;
	
}
h2{
	color: grey;
}